<div>
    <form [ngFormModel]="formGroup" (submit)="submitRealEstateAd()">
        <p>Title: <input class="form-control" ngControl="title"><span *ngIf="!title.valid"> [required]</span></p>
        <p>Description: <input class="form-control"  ngControl="description"><span *ngIf="!description.valid"> [required]</span></p>
        <p>Price: <input class="form-control"  ngControl="price"><span *ngIf="!price.valid && price.errors.required"> [required]</span><span *ngIf="!price.valid && price.errors.numericNoValid"> [must be numeric]</span></p>
        <p>Surface: <input class="form-control"  ngControl="surface"><span *ngIf="!surface.valid"> [required]</span></p>
        <button class="btn btn-default" type="submit">Create</button>
    </form>   
</div>