<div> 

    <input type="text" [ngFormControl]="term" />

    <div  >
        Real estate list
        <p>
            Number of Ads : {{realEstateAdCount}} <a (click) ="addRealEstateAd()">Add fake</a>
        </p>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Surface</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#realEstateAd of realEstateAdList | async">
                    <td>{{realEstateAd.title}}</td>
                    <td>{{realEstateAd.description}}</td>
                    <td>{{realEstateAd.price}}</td>
                    <td>{{realEstateAd.surface}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>